@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 97%; /* Lighter, slightly cool off-white */
    --foreground: 222 47% 11%;
    --card: 220 13% 100%; /* White */
    --card-foreground: 222 47% 11%;
    --popover: 220 13% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 226 77% 49%; /* A strong blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 9% 45%;
    --muted-foreground: 220 9% 45%;
    --accent: 220 14% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 226 77% 49%;
    --chart-1: #e63946;
    --chart-2: #fca3b3;
    --chart-3: #457b9d;
    --chart-4: #52b788;
    --chart-5: #8a5cf5;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 226 77% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 91% 60%;
    --chart-1: #e63946;
    --chart-2: #fca3b3;
    --chart-3: #457b9d;
    --chart-4: #52b788;
    --chart-5: #8a5cf5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
